* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.country-container {
  background-color: #161624;
  height: 100vh;
  background-size: cover;
}
.country-list {
  height: 300px;
  overflow-y: auto;
}
.country-flag {
  height: 100px;
  width: 200px;
}
.visit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-country {
  list-style-type: none;
  margin: 20px;
}
.para-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.name {
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
}
.remove {
  background-color: transparent;
  border-radius: 12px;
  border-width: 1px;
  height: 40px;
  width: 60px;
  color: white;
}
